enable_sock=0
ip=192.168.1.4
port=6211

slog_level=DEBUG
slog_log_name=server.log
slog_log_maxsize=30
slog_log_maxcount=30
slog_flush_size=512
slog_flush_interval=1
config_update_interval=60

slog_trace=
slog_debug=6|8|13|18|19|21|32|12
slog_info=
slog_warn=
slog_error=
slog_nolog=


p2p_=6|8|13|18|19|21|32|12
comm=9|13|17|23|25|6|4|5|7|8|21|34|35|101|100